.section-1 {
  display: flex;
}
.content-heading {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Zen Antique Soft", serif;
  font-size: 50px;
  margin-top: 100px;
  border-left: #ff6600 5px solid;
  padding-left: 8px;
}
.span-1 {
  color: #3366cc;
}
.my-goal {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Zen Antique Soft", serif;
  font-size: 17px;
  text-align: justify;
}
button {
  padding: 10px 35px;
  background-color: violet;
  border-color: violet;
  border-radius: 9px;
  font-size: 15px;
}
.scroll-down {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Zen Antique Soft", serif;
  font-size: 17px;
}
.img {
  width: 60%;
  padding-left: 80px;
}
.section-1-div {
  margin-left: 100px;
}
.mission-2022 {
  text-align: center;
  font-size: 40px;
}
.span-2 {
  color: #3366cc;
}
.section-2 {
  display: flex;
}
.miss {
  background-color: #999966;
  border-radius: 10px;
  width: 25%;
  margin-left: 90px;
  border-image: liner;
  padding: 15px;
  text-align: justify;
}
.viss {
  background-color: #cccc33;
  border-radius: 10px;
  width: 25%;
  margin-left: 30px;
  padding: 15px;
  text-align: justify;
}
.goal {
  background-color: #ff9900;
  border-radius: 10px;
  width: 25%;
  margin-left: 30px;
  padding: 15px;
  text-align: justify;
}
.icon {
  width: 60%;
}
.section-3 {
  display: flex;
}
.section-3-img {
  width: 80%;
}
.section-2-heading {
  font-size: 35px;
}
.limits {
  color: #f18a42;
}
.production {
  width: 80%;
  text-align: justify;
  font-size: 17px;
}
.section-4 {
  display: flex;
}
.global-community {
  font-size: 35px;
}
.section-4-span {
  color: #f18a42;
}
.section-4-img {
  width: 80%;
  margin-left: 100px;
}
.section-4-first-div {
  width: 70%;
  margin-left: 100px;
}
.section-4-para {
  text-align: justify;
  font-size: 17px;
}
.social-media {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Zen Antique Soft", serif;
  text-align: center;
  font-size: 40px;
}
.span-social-media {
  color: #3366cc;
}
.section-5 {
  display: flex;
}
.application {
  width: 40%;
  margin-left: 250px;
  border-radius: 20px;
}

.application-details {
  width: 70%;
  margin-right: 250px;
}
.application-details-h1 {
  font-size: 40px;
}
.application-details-span {
  color: #f18a42;
}
.application-details-p {
  font-size: 18px;
}
.footer {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Zen Antique Soft", serif;
  text-align: center;
  color: red;
  background-color: black;
  padding-top: 25px;
  padding-bottom: 30px;
}
.footer-h1 {
  color: white;
}
.footer-p {
  color: white;
}
